
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CargoLink - Panel</title>

        
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png"> -->
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
        
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script>
        window.userId = "<%= user.id %>";
        window.userRole = "<%= user.role %>";
        window.subscribedUrls = "<%= user.subscribedUrls %>"
    </script>
    
    <script src="/js/wsHandler.js"></script>
    <script src="/js/mqttHandler.js"></script>
    <script src="/js/client.js"></script>
    <script src="/js/driver.js"></script>
    <script src="/js/spedytor.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <div id="popup-container" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;"></div>
    <nav class="navbar">
        <a href="/" class="brand">CargoLink</a>
        <div class="dashboard-type">
            <%= user.role %> Dashboard
        </div>
        <div class="user-section">
            <span class="user-info">
                <%= user.name %> <%= user.surname %>
            </span>
            <form action="/api/auth/logout" method="POST" style="margin: 0;">
                <button type="submit" class="logout-btn">Wyloguj</button>
            </form>
        </div>
    </nav>
        <%- body %>
    </main>
</body>
</html>